
@use "@/app/variables.scss" as *;

.mobileNavSection {
  transition: all 0.5s ease;
  position: fixed;
  height: 100vh;
  background: $black;
  z-index: 5;
  width: 100%;
  top: 6rem;
  left: 100%;

  .mobileNav {
    display: flex;
    flex-direction: column;
    height: 93%;

    .headerButtons {
      padding: 3rem 3rem;
      
      button {
        padding: 1rem 2rem;
        background: transparent;
        color: $white;
        border: 1px solid $white;
        border-radius: 2rem;
        cursor: pointer;
        font-family: inherit;
        
        &:hover {
          background: $white;
          color: $black;
        }
      }
    }
    .controls {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      .switchWrapper {
        align-self: end;
        width: 8.2rem;
      }
    }
    .navLinks {
      display: flex;
      flex-direction: column;
      .navLink {
         padding: 5rem 5rem;
        font-size: 2rem;
        border-bottom: 1px solid $neutral2;
        color: $white;
        text-decoration: none;
        display: block;
      }
    }

    .footer {
      display: flex;
      padding: 3rem 5rem;
      border-top: 1px solid $neutral2;
      align-items: center;

      p {
        font-size: 2rem;
        flex-grow: 1;
        color: $white;
      }
    }
  }
}
