
@use "@/app/variables.scss" as *;

.preloaderSection {
  background: $black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.curtain, .curtain2 {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.curtain {
  background: $neutral;
  z-index: 9;
}

.curtain2 {
  background: $neutral2;
  z-index: 8;
}


.container {

  display: flex;
  justify-content: center;
}

.loaderContainer {
  width: 20%;
  margin: 5rem 0;
  position: absolute;
  bottom: 0;
  span {
    font-size: 2rem;
    color: white;
  }

  @media (max-width: $small) {
    width: 50%;
  }

  .text p {
      color: $white;
      font-size: 1.6rem;
      margin-bottom: 5px;
  }

  .loader {
    height: 1rem;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    

  }
  
  .loadingBar {
      width: 0%;
      background: white;
      height: 0.6rem;
      border-radius: 10px;
  }
}
